@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 47vw;
    scroll-behavior: smooth;
    background-color: #e3e3e3;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c9c9c9;
}

/* Header */

header {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 1.5rem 1.5rem 6.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main {
    width: 100%;
}

section {
    padding: 3rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.searchSystem {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.searchSystem input {
    width: 250px;
    border-radius: 5px;
    padding: 0.6rem 1rem;
}

.flagsContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.flagsContent div {
    padding: 1rem;
    background-color: #c9c9c9;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flagsContent div img {
    width: 200px;
    height: 130px;
}

.flagsContent p {
    height: 40px;
    font-size: 1rem;
    text-align: center;
}

/* FOOTER */
footer {
    width: 100%;   
    background-color: #fff;
    padding: 0.5rem;
    text-align: center;
    margin-top: auto;
}